.landing {
  &__main {
    display: flex;
    flex-direction: column;
    // margin-top: 20px;
    // justify-content: space-around;
  }

  &__supers {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    height: 50%;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    background-color: aqua;
    height: 50%;
  }
}
